html, body {
	height: 99.99%;
	margin: 0;
	padding: 0;
	border: none;
}

body {
	background-color: #fff;
	border-bottom: #bdbdbd 1px solid;
}

a {
	text-decoration: underline;
	color: inherit;
}

#content .bar, .subbar {
	color: #5d5d5d;
	font-weight: bold;
	font-size: 12px;
	padding: 2px 0 2px 20px;
	border-top: #f3f3f3 1px solid;
	text-shadow: 1px 1px #f5f5f5;
}

#sidebar .bar {
	padding-left: 0.5em;
	padding-top: 0.5em;
}

#sidebar .bar label {
	text-transform: uppercase;
}

#content .bar {
	padding-left: 8px;
}

.subbar {
	color: #fff;
	border-top-color: #91a0c0;
	text-shadow: none;
}

#content .bar[busy="true"] {
	background-size: 12px 12px, auto;
}

#content .underbar {
	padding: 10px;
}

.subunderbar {
	padding: 10px;
	display: none;
}

#sidebar .underbar {
	padding: 0.25em 1em 1em 1.5em;
	border-bottom: 1px dotted #62717f;
}

#content .underbar, .subunderbar {
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: #bdbdbd;
}

#content .bar, .subbar {
	border: #bdbdbd 1px solid;
}

.subunderbar[open="true"] {
	display: block !important;
}

#content .underbar[last], .subunderbar[last] {
	border-width: 0 1px 1px 1px;
}

.subunderbar[open="false"][orient] {
	display: none;
}

.subunderbar.fixed {
	display: block;
}

#dialog-blog-add-container {
	border: 1px dotted #aaa;
}

.notifier {
	background: #666;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999999;
	width: 100% !important;
	padding: 5px;
}

.notifier-error {
	background: #a00;
	font-weight: bold;
}

.notifier button {
	position: absolute;
	right: 20px;
	top: 0px;
}

#editor-toggles {
	display: none;
}

#editor-toggles {
	display: block;
}

#text-content_path_row{
	/* Hides the path stuff below Tiny MCE */
    display: none;
}

#sidebar {
	background-color: #dadfe5;
	border-right: 1px dotted #62717f;
}

#sidebar .bar label {
	color: #62717f;
	font-weight: bold;
}

#custom-fields button {
	float: left;
}
#custom-fields input {
	width: 30%;
	margin-left: 1%;
	float: left;
}

#custom-fields textarea {
	width: 60%;
	margin-left: 1%;
}

#custom-fields > div {
	clear: both;
}

#underbar-publish > * {
	margin-left: 1em;
}

#error-video-insert {
	color: #f00;
}

.error {
	color: #f00;
}

.buttons .button-meta {
	float: left;
}


/* Allow editor toolbar to wrap. */

.mceToolbarRow1 * {
	float: left;
}

.mceToolbarRow1 select {
	width: auto !important;
}

.mceToolbarRow1 option {
	float: none;
}

.bar-meta {
	float: right;
	padding-right: 1ex;
	border: 0;
	background: transparent !important;
	margin: 0;
	padding: 0 1em 0 0;
	color: #62717f;
	font-weight: bold;
	cursor: pointer;
}

.bar-meta:hover {
	text-decoration: underline;
}

#panel-zemanta {
	line-height: 1.8em;
}

p.throbber {
	padding-left: 20px;
	background-image: url(throbber-16.png);
	background-repeat: no-repeat;
}