body {
	background-color: #f5f5f5;
}

a {
	color: #00f;
}

.bar, .subbar, .bar-fixed {
	color: #5d5d5d;
	font-weight: bold;
	font-size: 12px;
	padding: 2px 0 2px 20px;
	border-top: #f3f3f3 1px solid;
	text-shadow: 1px 1px #f5f5f5;
}

.bar-fixed {
	padding-left: 8px;
}

html[platform='webkit'] .bar-fixed {
	background: -webkit-gradient(linear, 100% 0%, 100% 100%, from(#e5e5e5), to(#d1d1d1)); 
}

html[platform='gecko'] .bar-fixed {
	background: -moz-linear-gradient(bottom, #e5e5e5, #d1d1d1);
}

html[platform='webkit'] .bar, html[platform='webkit'] .subbar {
	background: url(arrow-right.png) 8px 4px no-repeat, -webkit-gradient(linear, 100% 0%, 100% 100%, from(#e5e5e5), to(#d1d1d1)); 
}

html[platform='gecko'] .bar, html[platform='gecko'] .subbar {
	background: url(arrow-right.png) 8px 4px no-repeat, -moz-linear-gradient(bottom, #e5e5e5, #d1d1d1);
}

.subbar {
	color: #fff;
	border-top-color: #91a0c0;
	text-shadow: none;
}

html[platform='webkit'] .subbar {
	background: url(arrow-right-blue.png) 8px 4px no-repeat, -webkit-gradient(linear, 100% 0%, 100% 100%, from(#798bb2), to(#a2b1cf));
}

html[platform='gecko'] .subbar {
	background: url(arrow-right-blue.png) 8px 4px no-repeat, -moz-linear-gradient(bottom, #798bb2, #a2b1cf);
}

html[platform='webkit'] .bar[open="true"] {
	background: url(arrow-down.png) 7px 5px no-repeat, -webkit-gradient(linear, 100% 0%, 100% 100%, from(#e5e5e5), to(#d1d1d1)) !important;
}

html[platform='gecko'] .bar[open="true"] {
	background: url(arrow-down.png) 7px 5px no-repeat, -moz-linear-gradient(bottom, #e5e5e5, #d1d1d1) !important;
}

html[platform='webkit'] .subbar[open="true"] {
	background: url(arrow-down-blue.png) 7px 5px no-repeat, -webkit-gradient(linear, 100% 0%, 100% 100%, from(#798bb2), to(#a2b1cf)) !important;
}

html[platform='gecko'] .subbar[open="true"] {
	background: url(arrow-down-blue.png) 7px 5px no-repeat, -moz-linear-gradient(bottom, #798bb2, #a2b1cf) !important;
}

.bar[busy="true"] {
	background-size: 12px 12px, auto;
}

html[platform='webkit'] .bar[busy="true"] {
	background: url(throbber-16.png) 5px 2px no-repeat, -webkit-gradient(linear, 100% 0%, 100% 100%, from(#e5e5e5), to(#d1d1d1)) !important;
}

html[platform='gecko'] .bar[busy="true"] {
	background: url(throbber-16.png) 5px 2px no-repeat, -moz-linear-gradient(bottom, #e5e5e5, #d1d1d1) !important;
	-moz-background-size: 12px, auto;
}

.underbar, .subunderbar {
	background-color: #fff;
	padding: 10px;
	display: none;
}

.bar, .underbar, .subbar, .subunderbar {
	border-bottom: #bdbdbd 1px solid;
}

.underbar[open="true"], .subunderbar[open="true"] {
	display: block;
}

html[platform='webkit'] .underbar[open="true"].flex-box, html[platform='webkit'] .subunderbar[open="true"].flex-box {
	display: -webkit-box;
}

.underbar[open="false"].flex-box, .subunderbar[open="false"].flex-box {
	display: none;
}

html[platform='gecko'] .underbar[open="true"].flex-box, html[platform='webkit'] .subunderbar[open="true"].flex-box {
	display: -moz-box;
}

#dialog-blog-add {
	border: 1px dotted #aaa;
}

.notifier {
	background: #666;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999999;
	width: 100% !important;
	padding: 5px;
}

.notifier-error {
	background: #a00;
	font-weight: bold;
}

.notifier button {
	position: absolute;
	right: 20px;
	top: 0px;
}

#editor-toggles {
	display: none;
}

#editor-toggles {
	display: block;
}

#text-content_path_row{
	/* Hides the path stuff below Tiny MCE */
    display: none;
}

#sidebar {
	border-left: #d1d1d1 2px solid;
}