<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://www.scribefire.com/scribefire-opera" version="4">
	<name short="ScribeFire">ScribeFire</name>
	<description>An easy-to-use blog editor lets you post to all of your blogs.</description>
	<author href="http://www.scribefire.com/">ScribeFire.com</author>
	<access origin="*" />
	<icon src="skin/icon-48.png" />
</widget>